

.chat-sidebar {
    flex: 0.2;
    padding: 15px;
    background-color: #841818;
  }
  
  .chat-input {
    flex: 0.8;
    padding: 15px;
    background-color: #ffffff;
    overflow-y: auto;
  }
  
  .inputForm {
    position: fixed;
    bottom: 20px;
    left: 60%;
    transform: translateX(-50%);
    width: 50%;
    padding: 10px;
    z-index: 999;
  }

.newChatBtn{
    width: 100%;
}

.logoutBtn{
    position: fixed;
    bottom: 20px;
    left: 2%;
}

.inputForm input{
    border: 2px #841818 solid;
} 

.convo {
  display: flex;
}

.convo-message {
  align-items: center;
  margin: 0 auto;
}

.title{
  background-color: #ffffff;
}