.chat-history{
    padding: 15px;
    flex: 0.2;
    background-color: #841818;
}

.newChatBtn{
    width: 100%;
}

.logoutBtn{
    position: fixed;
    bottom: 20px;
    left: 2%;
}

.inputForm {
    position: fixed;
    bottom: 20px;
    left: 60%;
    transform: translateX(-50%); /* Center horizontally */
    width: 50%; /* Set the width to 80% of the viewport width */
    padding: 10px;
    z-index: 999;
}

.inputForm input{
    border: 2px #841818 solid;
}
  
  
