.container-fluid {
    display: flex;
    height: 100vh;
  }
  
.title {
    flex: 1;
    background-color: #FFF4C5;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img{
    margin: auto;
    height: 350px; 
    width: 350px; 
}

.title h1{
    text-align: center;
}


.form {
    margin: auto;
    background-color: white;
    text-align: center;
    align-items: center;
}

.form p{
    max-width:50%;
    margin: auto;
}

.inputField{
    margin: auto;
}

.createAcc{
    text-align: end;
    font-size: large;
}

.text-maroon{
    color: #841818;
}

.btn-login{
    background-color: #841818;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 25px;
}
